@model ScarpeCo.Models.Product

@{
    ViewData["Title"] = @Model.Name;
}
<div class="card mb-4 shadow-sm">
    <img src="@Model.CoverImage" alt="@Model.Name" />
    <h1 class="card-title">@Model.Name</h1>
    <p class="card-text">@Model.Description</p>
    <p class="card-text">Price: @Model.Price.ToString("C")</p>

    <div class="additional-images">
        <img src="@Model.AdditionalImage1" class="img-fluid product-image mb-2" alt="Additional Image 1" />
        <img src="@Model.AdditionalImage2" class="img-fluid product-image" alt="Additional Image 2" />
    </div>

</div>

    <a href="@Url.Action("Index", "Product")">Back to Products</a>
</div>


